html(lang="ru")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="/public/w3Css/w3.css")
        title Online library
    body
        .w3-green
            p(align="center") Welcome to the online library
            div(align="center")
                button(class="w3-button w3-black w3-border w3-border-blue w3-center" onclick="window.location.href = '/list';") Войти


