doctype html
head
    title Auction
    link(rel="stylesheet" href="public/stylesheets/index.css")
body

    .head_title
        h1 Модуль администрирования аукционом картин
    .container
        #pictures
            form(action="/pictures" method="GET")
                button#pic_btn Показать список картин
        #participants
            form(action="/participants" method="GET")
                button#partic_btn Показать список участников
        #settings
            form(action="/settings" method="GET")
                button#settg_btn Показать настройки аукциона