#info_board{
  position: absolute;
}

#next_fig_brd{
  margin-right: 53%;
  border:2px solid black;
}

#board{
  position: absolute;
  margin-left: 40%;
  border:2px solid black;
}

#recordsTable{
  position: absolute;
  border:2px solid black;
}

#returning{
  position: absolute;
  margin-left: 48%;
  margin-top: 650px;
}