#buttons-wrapper{
    display: -webkit-flex; 
    justify-content: center;
}

.button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
}

.button:active {
    transform: scale(0.97);
}

.button:focus {
    outline: 0;
}

.button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}