#page{
    border: 2px solid blue;
    padding: 5px 5px;
    margin: 5px;
    font-size: 14px;
    display: inline;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-weight: 400;
}

#main-wrapper{
    display: flex;
    justify-content: space-around;
}